.ani-orbit-slow {
  animation: orbit 40s linear infinite; 
} 
.ani-orbit-medium {
  animation: orbit 20s linear infinite; 
} 
.ani-orbit-fast {
  animation: orbit 10s linear infinite; 
}

@keyframes orbit {
  0% {
    transform: rotate(var(--start-deg, 0deg));
  }
  100% {
    transform: rotate(calc(var(--start-deg, 0deg) + 360deg));
  }
}