@import "tailwindcss";

@theme {
  --color-blue-pick: rgb(75, 75, 230);
}

.vertical-mode {
  writing-mode: vertical-lr;
}

.scroll-up {
  animation: scrollUp 6s linear infinite;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}
